<div class="films-container">
    <h2>Ghibli Films</h2>
    <div class="list-container">
        <div class="film-card" *ngFor="let film of films">
            <p-card [header]="film.title" [subheader]="film.director" [style]="{ width: '360px', 'border-radius': '16px' }" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="film.image" style="border-radius: 16px">
                </ng-template>
                <p>
                    {{ film.description }}
                </p>
                <!-- <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template> -->
            </p-card>
        </div>
    </div>
</div>